[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
geojson = ">=3.0.1"
pytest = "7.4.0"
requests = ">=2.31.0"
shapely = ">=2.0.1"

[dev-packages]

[requires]
